label {
  display: flex;
  align-items: baseline;
  gap: 1em;
}

label::content {
  width: 1em;
}

.event-categories > *+* {
  border-top: solid 1px #aaa;
}

.event-categories summary {
  padding: 1em;
}
.event-link {
  padding: 0.5em 1em;
}
.event-link:first-of-type {
  padding-top: 0;
}

.event-link > a {
  font-size: 1.2rem;
}

.event-link-sub-details {
  display: flex;
  font-size: 0.9rem;
  gap: 1em;
  padding-top: 0.5em;
}
.event-link-sub-details .-label {
  font-size: 0.7rem;
  text-transform: uppercase;
  line-height: 0.5;
}

.event-link-sub-details > * {
  flex: 1;
}